<div align="center" class="pt-2">
  <div class="card" style="width:300px">
    <img class="card-img-top" src="assets/img/Ghali_2.jpg" alt="Card image" width="100px">
    <div class="card-body">
      <h4 class="card-title">Ghali</h4>
      <p class="card-text">Rapper di origine tunisina, che dopo la partecipazione all'ultimo sanremo sta facendo parlare molto di se.</p>
      <a href="https://it.wikipedia.org/wiki/Ghali_(rapper)" class="btn btn-primary">Maggiori inf</a>
    </div>
  </div>
</div>
<div class="container p-5 my-5 bg-success border">
  <img src="assets/img/Ghalibimbo.jpg" width="500px">
  <h1>Gli inizi</h1>
  <p>Nasce tutto nel quartiere milanese Baggio, l'ora mai noto rapper Ghali Amdouni nasce il 21 maggio 1993 da genitori tunisini. 
    Vivere in determinate situazioni e crescere in un ambiente di totale degrado e criminalità lo portarono ad essere arrestato da minorenne e 
    portato presso il carcere minorile Cesare Beccaria.
  </p>
</div>
<div class="container p-5 my-5 bg-warning border">
  <img src="assets/img/Ghali3.jpg" width="500px">
  <h1>La sua carriera</h1>
  <p>Dopo vari impicci ghali entra nel mondo della musica che lo salva, comincia con il suo gruppo nella quale ci fu pure ernia e si fece notare da 
    artisti del calibro di Guè e Fedez, firmando pure per la casa discografica del primo, dopo aver fatto uscire i primi pezzi e le prime importanti
    collaborazioni decise di rescindere il contratto e creare la sua etichetta in modo di essere indipendente, da li la sua carriera prese un gran volo
    creando il ghali che ormai è conosciuto quasi in tutta italia.
  </p>
</div>