<table class="table table-dark table-striped">
    <thead>
      <tr>
        <th>Titolo</th>
        <th>Feat</th>
        <th>Album</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Ninna nanna</td>
        <td>Doe</td>
        <td>asd</td>
      </tr>
      <tr>
        <td>Dende</td>
        <td>Cara Italia</td>
        <td>asd</td>
      </tr>
      <tr>
        <td>Habibi</td>
        <td>Dooley</td>
        <td>asd</td>
      </tr>
      <tr>
        <td>Cara Italia</td>
        <td>Dooley</td>
        <td>asd</td>
      </tr>
      <tr>
        <td>Wily Wily</td>
        <td>Dooley</td>
        <td>asd</td>
      </tr>
      <tr>
        <td>Good Times</td>
        <td>Dooley</td>
        <td>asd</td>
      </tr>
      <tr>
        <td>Peace & Love</td>
        <td>Dooley</td>
        <td>asd</td>
      </tr>
      <tr>
        <td>Happy Days</td>
        <td>Dooley</td>
        <td>asd</td>
      </tr>
      <tr>
        <td>Ricchi Dentro</td>
        <td>Dooley</td>
        <td>asd</td>
      </tr>
      <tr>
        <td>Casa Mia</td>
        <td>Dooley</td>
        <td>asd</td>
      </tr>
      <tr>
        <td>Machiavelli</td>
        <td>Dooley</td>
        <td>asd</td>
      </tr>
    </tbody>
    <br>
    <h2 class="text-black">Per ascoltare tutte le canzioni pubblicate su spotify da ghali schiacciare il bottone verde</h2>
    <button type="button" class="btn btn-success" href="https://open.spotify.com/intl-it/artist/3egWSWp7Y4FyCKIyvXbw7L">Spotify</button>
    <br>
    <br>
    <h2 class="text-black">Per ascoltare tutte le canzioni pubblicate su youtube da ghali schiacciare il bottone rosso</h2>
    <button type="button" class="btn btn-danger" href="https://www.youtube.com/@TroupeChannelGhali">Youtube</button>
  </table>
