<h1 class="text-black">Album</h1>
<table class="table table-striped">
    <thead>
      <tr class="table-dark">
        <th>Titolo</th>
        <th>Disco</th>
        <th>Numero</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-active">
        <td>Album</td>
        <td>Platino</td>
        <td>3</td>
      </tr>
      <tr class="table-warning">
        <td>Lunga vita a sto</td>
        <td>Oro</td>
        <td>1</td>
      </tr>
      <tr class="table-active">
        <td>DNA</td>
        <td>Platino</td>
        <td>2</td>
      </tr>
      <tr class="table-warning">
        <td>Senzazione ultra</td>
        <td>Oro</td>
        <td>1</td>
      </tr>
    </tbody>
  </table>
<h1 class="text-black">Le Top Canzoni</h1>
<table class="table table-striped">
    <thead>
      <tr class="table-dark">
        <th>Titolo</th>
        <th>Disco</th>
        <th>Numero</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-active">
        <td>Ninna nanna</td>
        <td>Platino</td>
        <td>4</td>
      </tr>
      <tr class="table-active">
        <td>Dende</td>
        <td>Platino</td>
        <td>1</td>
      </tr>
      <tr class="table-active">
        <td>Bimbi</td>
        <td>Platino</td>
        <td>2</td>
      </tr>
      <tr class="table-active">
        <td>Habibi</td>
        <td>Platino</td>
        <td>4</td>
      </tr>
      <tr class="table-active">
        <td>Happy days</td>
        <td>Platino</td>
        <td>4</td>
      </tr>
      <tr class="table-active">
        <td>Cara Italia</td>
        <td>Platino</td>
        <td>3</td>
      </tr>
      <tr class="table-active">
        <td>Peace & Love</td>
        <td>Platino</td>
        <td>3</td>
      </tr>
      <tr class="table-active">
        <td>Good Times</td>
        <td>Platino</td>
        <td>4</td>
      </tr>
      <tr class="table-active">
        <td>Ricchi dentro</td>
        <td>Platino</td>
        <td>2</td>
      </tr>
      <tr class="table-warning">
        <td>Casa Mia</td>
        <td>Oro</td>
        <td>1</td>
      </tr>
    </tbody>
  </table>
